
<%
  def draw_tree(obj)
    obj.comments.each do |reply|
%>
      <li>
        <%= reply.comment %>
        <%= link_to "Reply", new_comment_path(:parent_id => reply.id, :article_id => reply.article_id), :remote => "true" %>

<%
          if reply.comments.any?
%>

              <ul><% draw_tree(reply) %></ul>
<%
          elsif(user_signed_in? && reply.user_id == current_user.id)
%>
| <%= link_to "Destroy", comment_path(:id => reply.id,:article_id => reply.article_id), :confirm => "Are you sure?", :remote => "true",:method => :delete %>
<%
          end
%>
      </li>
<%
    end; nil
  end
%>
<div class="tree well">
<ul>
<% @comments.each do |comment| %>
  <li>
    <%= comment.comment %>
    <%= link_to "Reply", new_comment_path(:parent_id => comment.id, :article_id => comment.article_id), :remote => "true" %>
    <% if comment.comments.count <= 0 %>
      | <%= link_to "Destroy", comment_path(:id => comment.id,:article_id => comment.article_id), :confirm => "Are you sure?", :remote => "true",:method => :delete %>
  <% end %>
  <ul><% draw_tree(comment) %></ul>
  </li>
<% end  %>
</ul>
</div>
